{% extends 'base.html' %}


{% block content %}
<section class="event-detail-container">
    <h2 class="event-title">{{ event.title }}</h2>

    <div class="event-content">
        <img src="{{ url_for('static', filename='images/events/' ~ event.image) }}" alt="{{ event.title }}" class="event-image">

        <div class="event-info">
            <p><strong>Date:</strong> {{ event.date.strftime('%B %d, %Y') }}</p>
            <p><strong>Location:</strong> {{ event.location }}</p>
            <p class="event-description">{{ event.description }}</p>
        </div>
    </div>
</section>
{% endblock %}
